@font-face {
  font-family: 'Muli';
  src: url('https://www.sanlava.com/cdn/fonts/muli/muli_n7.c8c44d0404947d89610714223e630c4cbe005587.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Muli';
  src: url('https://www.sanlava.com/cdn/fonts/muli/muli_n4.e949947cfff05efcc994b2e2db40359a04fa9a92.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('https://fonts.gstatic.com/s/poppins/v24/pxiEyp8kv8JHgFVrJJfecg.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('https://fonts.gstatic.com/s/poppins/v24/pxiByp8kv8JHgFVrLEj6Z1xlFQ.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('https://fonts.gstatic.com/s/poppins/v24/pxiByp8kv8JHgFVrLCz7Z1xlFQ.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('https://fonts.gstatic.com/s/poppins/v24/pxiByp8kv8JHgFVrLDD4Z1xlFQ.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('https://fonts.gstatic.com/s/poppins/v24/pxiByp8kv8JHgFVrLBT5Z1xlFQ.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Suisse Intl';
  src: url('https://assets.replocdn.com/projects/9eea9657-62f2-4ff5-b4ab-d6c74575134b/256a9dc8-0a4e-446e-8a5f-e0dba64a5ac3_fonnts.com-Suisse_Intl_Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy-Bold';
  src: url('https://assets.replocdn.com/projects/9eea9657-62f2-4ff5-b4ab-d6c74575134b/c23e74d9-c363-4cd6-ba4b-c9cb9c32ed67_Gilroy-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy-Medium';
  src: url('https://assets.replocdn.com/projects/9eea9657-62f2-4ff5-b4ab-d6c74575134b/e2d828a9-5138-4b23-bb3f-b8e8b66902ef_Gilroy-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}
